.circle {
  aspect-ratio: 1;
  border-radius: 100%;
}

.stars {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.home {
  cursor: pointer;
  background: var(--grad);
  background-color: var(--color1);
  opacity: 1;
}

.menuItem {
  position: fixed;
  background: var(--grad);
  transition: top 0.25s, left 0.25s, transform 0.25s;
  cursor: pointer;
}

.menuTip {
  position: fixed;
  color: #ffc486;
  font-size: 16px;
  font-weight: 600;
  text-align: end;
  padding: 0 6px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80px;
  min-width: fit-content;
  background-color: #201717be;
  height: 24px;
  pointer-events: none;
  transition: top 0.25s, left 0.25s, opacity 0.25s, width 0.5s;
}

#pageAnchor {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

#pageContainer, .page {
  width: 600px;
  height: 360px;
}

.page {
  position: relative;
  background: linear-gradient(45deg, transparent, #ffd67d69);
  background-color: #fdb468;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: flex-start;
  transition: width 0.25s, height 0.25s, border-radius 0.25s, color 0.25s;
  pointer-events: all;
  overflow: hidden;
}

.page * {
  opacity: 1;
}

.closedPage {
  width: 0px;
  height: 0px;
  border-radius: 500px;
  z-index: -1;
  pointer-events: none;
  color: transparent;
}

.closedPage * {
  opacity: 0;
  transition: opacity 0s;
}

.pageHead {
  padding: 1vh;
  padding-bottom: 4px;
  width: 100%;
  height: 33px;
  justify-content: space-between;
  border-bottom: 4px solid;
  position: relative;
  font-size: 14px;
  align-items: center;
}

.headLine {
  height: 100%;
  background-color: var(--bg);
  position: absolute;
  top: 0;
  transition: left 1s;
}

.closeIcon {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 12px;
  background-color: var(--bg);
  cursor: pointer;
  margin-top: -4px;
  margin-right: 0px;
  transition: width 0.1s, border-radius 0.1s, margin-top 0.1s, margin-right 0.1s;
}

.closeIcon:hover {
  width: 20px;
  margin-top: -4px;
  margin-right: -4px;
  border-radius: 6px;
}

.pageContent {
  width: 100%;
  height: 316px;
  transition: opacity 1s;
  font-size: 16px;
  font-weight: 400;
}

.randomString {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  right: 10px;
}

.info {
  width: 100%;
  height: 100%;
  padding: 1vh;
}

.infoMain {
  width: 320px;
  flex: none;
}

.infoSkills {
  width: 100%;
  text-align: end;
  align-items: end;
}

.growBar {
  border-bottom: 1px solid;
  min-width: 100px;
  transition: width 1s;
  height: 24px;
}

.asimov {
  width: 100%;
  height: 72px;
  text-align: center;
  padding: 1.5vh;
  box-sizing: border-box;
  border: 1px solid;
  font-weight: 600;
  font-size: 14px;
  flex: none;
}

.fallback {
  background-color: #201717e8;
  color: var(--color1);
  border: 1px solid;
  max-width: 50vw;
  aspect-ratio: 3;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  border-radius: 4px;
  padding: 4vh;
}

.shine {
  background: #ffffff47;
  width: 60%;
  right: 10%;
  top: 7%;
}

.projects {
  flex-wrap: wrap;
  padding: 1vh;
}

.projectsRow {
  height: calc(50% - 0.5vh);
  width: 100%;
}

.project {
  height: 100%;
  width: calc(50% - 0.5vh);
  box-sizing: border-box;
  border: 1px solid var(--bg);
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}

.projectTitle:hover {
  cursor: pointer;
}

.projectTitle,
.projectCard {
  width: 100%;
  height: 100%;
  flex: none;
  transition: height 0.5s, opacity 0.25s;
}

.projectCard {
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.projectCardHead {
  height: 4px;
  width: 100%;
  border-bottom: 1px solid;
  box-sizing: border-box;
  margin-bottom: 4px;
  justify-content: flex-end;
}

.top {
  margin-bottom: 0.5vh;
}

.bottom {
  margin-top: 0.5vh;
}

.projectInfo {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.projectText {
  padding: 6px;
}

.openButton {
  margin-bottom: 1vh;
  font-size: 14px;
  transition: transform 0.25s, opacity 1s;
  transition-delay: 0s, 0.5s;
  transition-property: transform, opacity;
  cursor: pointer;
}

.badges {
  width: 100%;
  border-top: 1px solid;
  justify-content: space-around;
}

.badge {
  flex: auto;
  text-align: center;
}

.contact {
  padding: 1vh;
}

.contactMain {
  justify-content: flex-start;
}

.hotkey {
  aspect-ratio: 1;
  width: 32px;
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 1vh 0.25vh;
}

.orbitInfo,
.hotkeys {
  position: fixed;
  top: 0;
  right: 1vh;
  color: #ffc486b2;
  align-items: center;
  transition: opacity 1s;
  font-size: 14px;
}

.hotkeys {
  right: unset;
  left: 1vh;
}

.orbitKey {
  margin: 1vh;
}

a {
  color: var(--bg);
  text-decoration: none;
}