:root {
  --brown:      #86716a;
  --gold:       #ffbc90;
  --salmon:     #ff9d90;
  --darkSalmon: #a0483c;
  --leaf:       #cad683;
  --lime:       #b1e064;
  --sky:        #0085c7;
  --teal:       #00a9c7;
  --coffee:     #4d281f;
  --cream:      #ffefe5;
  --banana:     #f5ecd4;
  --peach:      #ffb7a2;
  --navy:       #3b5f80;

  --firehouse:  #da3633;
  --coal:       #413b3a;
  --tan:        #a8895a;
  --toast:      #b75a43;

  --trToast:    #b75a4386;
  --trFirehouse:#da363380;
  --trCream:    #f8ede6d9;
  --trLeaf:     #c9d68375;
  --trPeach:    #ffb8a2a4;
  --trTeal:     #00a9c72d;
  --trNavy:     #3b5f805d;

  --neonPink:   #ff83a2;

  --lightText:  #ffe8d9;
  --darkText:   #231f20;

  --shadow:     #39161096;
  --cardShadow: 0 2px 6px #4718182e;

  --color1: #fb965c;
  --color2: var(--peach);
  --tr1:    var(--trCream);
  --borderColor: #e5d6d6;
  --border: 1px solid var(--borderColor);

  --learn: #ffd9a2;
  --grow: #bedf8f;
  --work: #ffb6aa;
  --play: #dfc1eb;
  --help: #b8cdf5;
  --home: #e5d6d6;

  --bg: #201719;

  --grad: linear-gradient(28deg, #ff6f4359, transparent 10%, #ffdb7771);
}

html {
  overscroll-behavior: contain;
  background: var(--bg);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

body, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100svh;
  font-family: Saira;
  font-size: 2vh;
}

.app {
  position: fixed;
  width: 1280px;
  height: 100svh;
  max-width: 100svw;
  min-height: 100svh;

  color: var(--bg);
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 700;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.f {
  width: 100%;
  height: 100%;
}

.w {
  width: 100%;
}

.ht {
  height: 100%;
}

.c {
  align-items: center;
  justify-content: center;
}

/* --- */

.box {
  border: 1px solid;
  box-sizing: border-box;
}

.alert {
  z-index: 11;
  position: fixed;
  bottom: 10vh;
  min-width: 200px;
  max-width: 90svh;
  width: max-content;
  padding: 1vh 2vh;
  border-radius: 25px;
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--color1);
  color: white;
  transition: opacity 0s;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.icon {
  transition: color 0.5s;
}

.icon:hover {
  cursor: pointer;
  color: var(--color2);

  transition: color 0.1s;
}

.icon:active {
  color: var(--sky);
  transition: color 0s;
}

input, select {
  width: 240px;
  height: 32px;
  border: var(--border);
  padding: 0 1vh;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 32px;
  outline: none;
  font-family: Jost;
}

.yes {
  background-color: var(--leaf);
}

.no {
  background-color: var(--salmon);
  color: white;
}

.anchor {
  position: relative;
}

.float {
  position: absolute;
}

.card {
  background-color: white;
  box-shadow: 0px 2px 2px 0px #b365734a;
  border-radius: 12px;
  margin: 1vh;
  transition: height 1s, flex 1s;
}

/* */

::-webkit-scrollbar {
  border-style: none;
  width: 0.4vw;
  min-width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--home);
}